.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limit the maximum width of the slideshow */
    height: auto;
    margin: 0 auto; /* Center the slideshow */
    overflow: hidden; /* Hide overflowing content */
    border-radius: 15px; /* Rounded corners for the slideshow container */
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); /* Soft shadow effect */
}

.slide {
    display: none;
    rotate: 2d;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.slide img {
    width: 100%; /* Ensure images fill the container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px; /* Rounded corners for images */
}
